.wrapper {
    background: #fff;
    margin: 0 auto;
}

.login {
    display: flex;
}

.login form {
    background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
    color: #ffffff;
}

.icons {
    border-radius: 15px;
    border: 3px solid #ccc;
}

nav {
    background-image: linear-gradient(to top, #000000 0%, #576068 100%);
    width: 100%;
    height: 34px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 0 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 1%;
}

nav ul li:hover{
    background: #206988;
    border-radius: 10px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav div span {
    margin: 0 10px;
}

.nav_blue-text {
    color: #206988;
}

.search {
    display: flex;
    justify-content: space-between;
}

.search>div {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search_car {
    width: 45%;
}

.search_tire {
    width: 20%
}

.search-disks {
    width: 32%
}

.parent-cols {
    display: flex;
    width: 30%;
}

.parent-cols label {
    display: block;
}

main {
    display: flex;
}

.catalog {
    width: 20%
}

.content {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.content div {
    border: 1px solid #ccc;
    width: 30%;
    text-align: center;
    margin: 1%
}

.vendors li, footer ul li {
    display: inline-block;
    list-style: none;
}

.vendors, footer {
    text-align: center;
}

footer {
    background: #103f63;
}

